<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personle Portfolio Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="hero">
        <nav>
            <img src="{{url_for('static', filename='logo2.png')}}" class="logo">
            <ul>
                <li><a href="#">HOME</a></li>
                
            </ul>
        </nav>
        <div class="detel">
            <h1>Identify Coffee Plant<span> Disease</span></h1>
            <p>Lorem ipsum <br> web development and ui design. </p>
            <a href="#">Upload</a>
        </div>
        <div class="images">
            <img src="{{url_for('static', filename='shape.png')}}" class="shape">
            <img src="{{url_for('static', filename='leaf.png')}}" class="leaf">
        </div>

        <div class="social">
           <a href="#"><i class="fab fa-dribbble"></i></a>
           <a href="https://www.instagram.com/_pepsky/"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-behance"></i></a>
        </div>
    </div>
</body>
</html>